<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502330717871-1anjhu04hs96p53gctroctbm9a88gtt5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502330717871-1anjhu04hs96p53gctroctbm9a88gtt5</string>
	<key>API_KEY</key>
	<string>AIzaSyDchVS4unALl9_iL_eKqY4H2gkWIgnIuTE</string>
	<key>GCM_SENDER_ID</key>
	<string>502330717871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agalar.ku-add-drop</string>
	<key>PROJECT_ID</key>
	<string>project-telmessos</string>
	<key>STORAGE_BUCKET</key>
	<string>project-telmessos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502330717871:ios:b61b53b7925279d08a065a</string>
</dict>
</plist>